In [1]:
import numpy as np
import pandas as pd
import missingno as msno
import timeit
import dask.dataframe as dd

%matplotlib inline

/home/adam/anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/home/adam/anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [3]:
reader = pd.read_csv('../Data/train_numeric.csv', iterator=True, chunksize=100000, low_memory=False)

one_row = pd.read_csv('../Data/train_numeric.csv',  nrows=1)


reader.get_chunk(4)

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:


final = []

i=0

for chunk in reader:
   
    
    %time temp = chunk.to_sparse()
    stop = timeit.default_timer()
   


    final.append(temp)


    i += 1

CPU times: user 3.84 s, sys: 32 ms, total: 3.88 s
Wall time: 3.86 s
CPU times: user 3.9 s, sys: 24 ms, total: 3.92 s
Wall time: 3.91 s
CPU times: user 3.86 s, sys: 72 ms, total: 3.93 s
Wall time: 3.91 s
CPU times: user 3.88 s, sys: 36 ms, total: 3.92 s
Wall time: 3.9 s
CPU times: user 3.96 s, sys: 44 ms, total: 4 s
Wall time: 3.99 s
CPU times: user 3.94 s, sys: 40 ms, total: 3.98 s
Wall time: 3.97 s
CPU times: user 4.11 s, sys: 24 ms, total: 4.13 s
Wall time: 4.14 s
CPU times: user 3.97 s, sys: 48 ms, total: 4.02 s
Wall time: 4 s
CPU times: user 3.87 s, sys: 28 ms, total: 3.9 s
Wall time: 3.89 s
CPU times: user 4 s, sys: 36 ms, total: 4.04 s
Wall time: 4.02 s
CPU times: user 3.9 s, sys: 48 ms, total: 3.94 s
Wall time: 3.93 s
CPU times: user 3.91 s, sys: 24 ms, total: 3.94 s
Wall time: 3.92 s

In [5]:
combined = pd.concat(final, axis=0)
combined.index = range(len(combined))

In [9]:
type(combined)

combined = combined.set_index('Id')

In [8]:
combined.shape

combined.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,11.0,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,13.0,0.003,0.019,0.294,0.312,0.031,0.161,0.022,0.088,-0.005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,18.0,-0.016,-0.041,-0.179,-0.179,-0.056,0.161,-0.007,-0.032,-0.082,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [10]:

df = pd.melt(combined, id_vars = 'Id', value_vars=list(one_row.columns[1:-1]))

KeyboardInterrupt:

In [ ]:

df = pd.melt(combined, id_vars = 'Id', value_vars=list(one_row.columns[1:-1]))


start = timeit.default_timer()
df['value'] = (df['value']/df['value'])
stop = timeit.default_timer()
print('division step: ' +str( stop - start)) 



start = timeit.default_timer()
df['variable_new'] = df['variable'].str.extract('(.*_.*_)', expand=True)
ddf = dd.from_pandas(df, chunksize=5000)
stop = timeit.default_timer()
print('extract station name step: ' +str( stop - start)) 


start = timeit.default_timer()
ddf_grouped = ddf.groupby(['Id','variable_new'], sort=False).value.max().compute().reset_index()
df_grouped = pd.DataFrame(ddf_grouped)
stop = timeit.default_timer()
print('groupby step: ' +str( stop - start)) 

start = timeit.default_timer()
df_pivot = pd.pivot_table(df_grouped, index='Id', columns='variable_new',
                         values='value', aggfunc=np.max).reset_index()
stop = timeit.default_timer()
print('pivot step: ' +str( stop - start)) 



col = ['Id', 'L0_S0_', 'L0_S1_', 'L0_S2_', 'L0_S3_', 'L0_S4_', 'L0_S5_', 'L0_S6_', 'L0_S7_', 'L0_S8_', 'L0_S9_',
 'L0_S10_', 'L0_S11_', 'L0_S12_', 'L0_S13_', 'L0_S14_', 'L0_S15_',
 'L0_S16_', 'L0_S17_', 'L0_S18_', 'L0_S19_',  'L0_S20_', 'L0_S21_', 'L0_S22_', 
 'L0_S23_', 'L1_S24_', 'L1_S25_', 'L2_S26_', 'L2_S27_', 'L2_S28_',
 'L3_S29_', 'L3_S30_', 'L3_S31_', 'L3_S32_', 'L3_S33_', 'L3_S34_', 'L3_S35_',
 'L3_S36_', 'L3_S37_', 'L3_S38_', 'L3_S39_', 'L3_S40_', 'L3_S41_', 'L3_S43_',
 'L3_S44_', 'L3_S45_', 'L3_S47_', 'L3_S48_', 'L3_S49_', 'L3_S50_', 'L3_S51_']


start = timeit.default_timer()
df_pivot = df_pivot[col]
final.append(df_pivot[col])
stop = timeit.default_timer()
print('rearrange and append step:' +str( stop - start)) 

i += 1